html,
body {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    ul {
        padding-left: 12px;
    }
}

span.code {
    font-family: "Consolas";
    white-space: pre-wrap;
    background-color: #7af4;
}

span.multiline {
    display: inline-block;
    background-color: #fff;
    border: 2px solid #888a;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 4px 1%;
}

span.comment {
    color: #043a;
    white-space: inherit;
}
